#me{
    background-color: rgb(216, 112, 199);
    text-align: center;
    color:palevioletred;
}
#p{ background-color:peru;
    text-align: center;
}
#p1{
    color:royalblue;
}
#p2{
    color:salmon;
}
#p3{
    color:springgreen;
}